<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>فروشگاه | صفحه اصلی</title>
  <link rel="stylesheet" href="css/core-style.css">
</head>

<body>
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="نام محصول مورد نظر خود را وارد کنید">
              <button type="submit"><img src="images/core-img/search.png" alt=""></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-wrapper d-flex clearfix">
    <div class="mobile-nav">
      <div class="pando-navbar-toggler">
        <span></span><span></span><span></span>
      </div>
    </div>
    <header class="header-area clearfix">
      <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <nav class="pando-nav">
        <ul>
          <li class="active"><a href="/">صفحه نخست</a></li>
          <li><a href="/shop">فروشگاه</a></li>
          <li><a href="#">درباره ما</a></li>
          <li><a href="#">تماس با ما</a></li>
          <li><a href="">سبد خرید</a></li>
          <li><a href="">تسویه حساب</a></li>
        </ul>
      </nav>
      <div class="pando-btn-group mt-30 mb-100">
        <a href="#" class="btn pando-btn mb-15">تخفیف ویژه بگیرید</a>
        <form style="width: 160px;">
          <button type="submit" formmethod="POST" formaction="/add" formmethod="POST" class="btn pando-btn active">اضافه
            کردن محصول</button>
        </form>
      </div>
      <div class="cart-fav-search mb-100">
        <a href="" class="cart-nav"><img src="images/core-img/cart.png" alt=""> سبد خرید <span>(0)</span></a>
        <a href="#" class="fav-nav"><img src="images/core-img/favorites.png" alt=""> محصولات محبوب</a>
        <a href="#" class="search-nav"><img src="images/core-img/search.png" alt=""> جستجو</a>
      </div>
      <div class="social-info d-flex justify-content-between">
        <a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      </div>
    </header>
    <div class="products-catagories-area clearfix">
      <div class="pando-pro-catagory clearfix">
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/1.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 100000 تومان</p>
              <h4>صندلی مدرن</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/2.jpg" alt="">

            <div class="hover-content">
              <div class="line"></div>
              <p>از 180000 تومان</p>
              <h4>کاکتوس شماره هفده</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/3.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 150000 تومان</p>
              <h4>صندلی چوبی</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/4.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 60000 تومان</p>
              <h4>کاکتوس شماره هجده</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/5.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 40000 تومان</p>
              <h4>کاکتوس شماره ده</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/6.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 80000 تومان</p>
              <h4>میز کوچک</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/7.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 200000 تومان</p>
              <h4>صندلی تاشو</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/8.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 400000 تومان</p>
              <h4>صندلی متحرک</h4>
            </div>
          </a>
        </div>
        <div class="single-products-catagory clearfix">
          <a href="/shop">
            <img src="images/bg-img/9.jpg" alt="">
            <div class="hover-content">
              <div class="line"></div>
              <p>از 150000 تومان</p>
              <h4>دکور منزل</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <section class="newsletter-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="newsletter-text mb-100">
            <h2>عضویت در خبرنامه و کد تخفیف <span>25 درصدی </span></h2>
            <p>بلافاصله پس از عضویت در خبرنامه یک کد تخفیف بیست و پنج درصدی به ایمیل شما ارسال خواهد شد که می‌توانید در
              خرید اول خود از آن استفاده کنید.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="newsletter-form mb-100">
            <form action="#">
              <input type="email" name="email" class="nl-email" placeholder="ایمیل شما">
              <input type="submit" value="اشتراک">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer_area clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4">
          <div class="single_widget_area">
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="single_widget_area">
            <div class="footer_menu">
              <nav class="navbar navbar-expand-lg justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent"
                  aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="footerNavContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">صفحه نخست</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">درباره ما</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">راهنمای خرید</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">قوانین و مقررات</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/active.js"></script>
</body>

</html>