<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>فروشگاه</title>
  <link rel="stylesheet" href="css/core-style.css">
</head>

<body>
  <div class="search-wrapper section-padding-100">
    <div class="search-close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search-content">
            <form action="#" method="get">
              <input type="search" name="search" id="search" placeholder="نام محصول مورد نظر خود را وارد کنید">
              <button type="submit"><img src="images/core-img/search.png" alt=""></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content-wrapper d-flex clearfix">
    <div class="mobile-nav">

      <div class="pando-navbar-toggler">
        <span></span><span></span><span></span>
      </div>
    </div>
    <header class="header-area clearfix">
      <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
      </div>
      <nav class="pando-nav">
        <ul>
          <li><a href="/">صفحه نخست</a></li>
          <li class="active"><a href="/shop">فروشگاه</a></li>
          <li><a href="#">درباره ما</a></li>
          <li><a href="#">تماس با ما</a></li>
          <li><a href="">سبد خرید</a></li>
          <li><a href="">تسویه حساب</a></li>
        </ul>
      </nav>
      <div class="pando-btn-group mt-30 mb-100">
        <a href="#" class="btn pando-btn mb-15">تخفیف ویژه بگیرید</a>
        <a href="#" class="btn pando-btn active">جدیدترین محصولات</a>
      </div>
      <div class="cart-fav-search mb-100">
        <a href="" class="cart-nav"><img src="images/core-img/cart.png" alt=""> سبد خرید <span>(0)</span></a>
        <a href="#" class="fav-nav"><img src="images/core-img/favorites.png" alt=""> محصولات محبوب</a>
        <a href="#" class="search-nav"><img src="images/core-img/search.png" alt=""> جستجو</a>
      </div>
      <div class="social-info d-flex justify-content-between">
        <a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      </div>
    </header>
    <div class="shop_sidebar_area">
      <div class="widget catagory mb-50">
        <h6 class="widget-title mb-30">دسته بندی‌ها</h6>
        <div class="catagories-menu">
          <ul>
            <li class="active"><a href="#">صندلی</a></li>
            <li><a href="#">تخت خواب</a></li>
            <li><a href="#">اکسسوری</a></li>
            <li><a href="#">مبلمان</a></li>
            <li><a href="#">دکور منزل</a></li>
            <li><a href="#">پوشاک</a></li>
            <li><a href="#">میزها</a></li>
          </ul>
        </div>
      </div>
      <div class="widget brands mb-50">
        <h6 class="widget-title mb-30">برندها</h6>
        <div class="widget-desc">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="pando">
            <label class="form-check-label" for="pando">پاندو</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="ikea">
            <label class="form-check-label" for="ikea">ایکیا</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="furniture">
            <label class="form-check-label" for="furniture">فورنیچر</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="factory">
            <label class="form-check-label" for="factory">فکتوری</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="artdeco">
            <label class="form-check-label" for="artdeco">آرتدکو</label>
          </div>
        </div>
      </div>
      <div class="widget color mb-50">
        <h6 class="widget-title mb-30">رنگ بندی</h6>
        <div class="widget-desc">
          <ul class="d-flex">
            <li><a href="#" class="color1"></a></li>
            <li><a href="#" class="color2"></a></li>
            <li><a href="#" class="color3"></a></li>
            <li><a href="#" class="color4"></a></li>
            <li><a href="#" class="color5"></a></li>
            <li><a href="#" class="color6"></a></li>
            <li><a href="#" class="color7"></a></li>
            <li><a href="#" class="color8"></a></li>
          </ul>
        </div>
      </div>
      <div class="widget price mb-50">
        <h6 class="widget-title mb-30">قیمت</h6>
        <div class="widget-desc">
          <div class="slider-range">
            <div data-min="100000" data-max="1000000" data-unit="تومان"
              class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
              data-value-min="100000" data-value-max="1000000" data-label-result="">
              <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
              <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
              <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
            </div>
            <div class="range-price">100000 - 1000000 تومان</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pando_product_area section-padding-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="product-topbar d-xl-flex align-items-end justify-content-between">
              <div class="total-products">
                <p>نمایش 1 - 8 از 25</p>
                <div class="view d-flex">
                  <a href="/shop"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                  <a href=""><i class="fa fa-bars" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="product-sorting d-flex">
                <div class="sort-by-date d-flex align-items-center mr-15">
                  <p>ترتیب بندی</p>
                  <form action="#" method="get">
                    <select name="select" id="sortBydate">
                      <option value="value">تاریخ</option>
                      <option value="value">جدیدترین</option>
                      <option value="value">محبوب</option>
                    </select>
                  </form>
                </div>
                <div class="view-product d-flex align-items-center">
                  <p>مشاهده</p>
                  <form action="#" method="get">
                    <select name="select" id="viewProduct">
                      <option value="value">12</option>
                      <option value="value">24</option>
                      <option value="value">48</option>
                      <option value="value">96</option>
                    </select>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#each products}}
          <div class="col-12 col-sm-6 col-md-12 col-xl-6">
            <div class="single-product-wrapper">
              <div class="product-img">
                <img src={{image}} alt="">
              </div>
              <div class="product-description d-flex align-items-center justify-content-between">
                <div class="product-meta-data">
                  <div class="line"></div>
                  <p class="product-price">{{price}} تومان</p>
                  <a>
                    <h6>{{title}}</h6>
                  </a>
                </div>
                <div class="ratings-cart text-right">
                  <div class="cart">
                    <form style="margin: 0px;">
                      <button type="submit" formmethod="POST" formaction="/delete" formmethod="POST" name="id"
                        value="{{id}}" data-toggle="tooltip" data-placement="left" title="پاک کردن محصول">
                        <img src="images/core-img/cart.png" alt="">
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
        <div class="row">
          <div class="col-12">
            <nav aria-label="navigation">
              <ul class="pagination justify-content-end mt-50">
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="newsletter-area section-padding-100-0">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="newsletter-text mb-100">
            <h2>عضویت در خبرنامه و کد تخفیف <span>25 درصدی </span></h2>
            <p>بلافاصله پس از عضویت در خبرنامه یک کد تخفیف بیست و پنج درصدی به ایمیل شما ارسال خواهد شد که می‌توانید در
              خرید اول خود از آن استفاده کنید.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="newsletter-form mb-100">
            <form action="#">
              <input type="email" name="email" class="nl-email" placeholder="ایمیل شما">
              <input type="submit" value="اشتراک">
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer_area clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-lg-4">
        </div>
        <div class="col-12 col-lg-8">
          <div class="single_widget_area">
            <div class="footer_menu">
              <nav class="navbar navbar-expand-lg justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent"
                  aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="footerNavContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">صفحه نخست</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">درباره ما</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">راهنمای خرید</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">قوانین و مقررات</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/active.js"></script>
</body>

</html>